/* Have fun. This is your site. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, seagreen, lightblue);
}

h1 {
  text-align: center;
  animation: color-change 4s infinite;
}
@keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: lightblue;
  }
  
}

/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}
