/* Have fun. This is your site. */

html, body {
  height: 100%;
  margin: auto;
  padding: 25;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, seagreen, lightblue, lightgrey);
  background-attachment: fixed;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  /* adjust to your design */
  max-width: 60em;
}

footer {
  text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
  text-align: center;
  color: black;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: lightgray;
  }
  75% {
    color: lightgreen;
  }
  100%{
    color: black;
  }
}



#content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#links, #skills {
  flex: 1;
  padding-left: 120px;
}

ul {
  list-style-type: square;
  padding: 10px;
  margin: 0;
  padding-bottom: 100px;
}

img {
  width: 100%;
  max-width: 300px; /* Set a maximum width for the image */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  border-radius: 15px;
  border: solid 2px black;
}

p {
  text-align: center;
  color: black;
  width: 75%;
}

.word {
  margin-right: 100px;
  text-align: center;
  display: inline-block; /* Ensure the span is inline-block for transform to work */
  animation: moveAcross 20s linear infinite; /* Adjust the duration as needed */
}

@keyframes moveAcross {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw); /* Move across the entire viewport width */
  }
}